@import url("https://fonts.googleapis.com/css2?family=Sanchez&display=swap");

body {
  background-color: #302c5b;
  color: white;
  font-family: "Sanchez", serif;
  display: flex;
  flex-direction: column;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.microphone {
  height: 100px;
  cursor: pointer;
}

.microphone.isListening {
  animation: animationFrames linear 0.8s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
}

@keyframes animationFrames {
  0% {
    transform: translate(0px, 0px);
  }
  15% {
    transform: translate(0px, -25px);
  }
  30% {
    transform: translate(0px, 0px);
  }
  45% {
    transform: translate(0px, -15px);
  }
  60% {
    transform: translate(0px, 0px);
  }
  75% {
    transform: translate(0px, -5px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  padding-top: 10px;
  padding-bottom: 10px;
}

.icon-reg {
  position: absolute;
  bottom: 0;
  font-size: 10px;
}
